.contact h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > input, .form > textarea {
  border: none;
  outline: none;
  background-color: rgb(236, 234, 234);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  padding: 10px;
  margin: 5px 0;
}

.form > input[type=submit]{
    background-color: #68BBCB;
    color: white;
    font-weight: 500;
}
